$bar-color: #dbf1f2;
$bar-color-2: #fce7de;

// .doctor {
//   @media (min-width: 1024px) {
//     overflow: hidden;
//   }
// }

.hobby-bar {
  width: 100%;
  background-color: $bar-color;
  // position: absolute;
  bottom: 0px;
  left: 0px;
  // transform: translateY(50%);

  &-inverse {
    background-color: $bar-color-2;
    &::before {
      left: auto;
      right: 0px;
      transform: translateX(100%);
      background-color: $bar-color-2;
    }

    &::after {
      left: 0px;
      transform: translateX(-100%);
      background-color: $bar-color-2;
    }
  }

  // @media (min-width: 1024px) {
  //   height: 100px;
  //   position: relative;
  //   transform: translateY(-25px);
  //   margin-top: 80px;

  //   &::before {
  //     content: "";
  //     width: 280px;
  //     height: 100px;
  //     position: absolute;
  //     top: 0px;
  //     left: 0px;
  //     transform: translateX(-100%);
  //     background-color: $bar-color;
  //   }

  //   &::after {
  //     content: "";
  //     width: 520px;
  //     height: 100px;
  //     position: absolute;
  //     top: 0px;
  //     right: 0px;
  //     transform: translateX(100%);
  //     background-color: $bar-color;
  //   }
  // }

  // @media (min-width: 1280px) {
  //   margin-top: 40px;
  // }

  // @media (min-width: 1366px) {
  //   margin-top: 70px;
  // }

  // @media (min-width: 1556px) {
  //   margin-top: 100px;
  // }
}

.pattern-1 {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  height: 380px;

  &.inverse {
    left: 7%;
  }

  &.inverse-orange {
    right: 7%;
  }

  @media (min-width: 1280px) {
    display: block;
  }
}

.pattern-2-container {
  position: absolute;
  left: 0px;
  bottom: 20px;
  overflow: hidden;

  .pattern-2 {
    height: 240px;
    transform: translateX(-66%);
  }

  &.inverse {
    left: auto;
    bottom: auto;
    top: -40px;
    right: 0;
    .pattern-2 {
      height: 240px;
      transform: translateX(66%);
    }
  }
}
