.home-hero-wrapper {
  height: calc(100vh - 55px);
  background-image: url("../../../images/home-hero-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-position-x: 100%;
  @apply max-w-[1920px] mx-auto lg:px-[66px] text-center;

  @screen lg {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: calc(100vh - 80px);
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

.home-hero-intro-wrapper {
  @apply max-w-[678px] absolute bottom-[55px] left-0 right-0 mx-auto px-[10px];

  @screen md {
    @apply h-[229px] bottom-[106px] px-0;
  }

  @screen lg {
    @apply h-[246px] max-w-[886px] w-1/2 mx-0 bottom-[50%] transform translate-y-1/2;
  }
}

.home-hero-intro {
  background-color: rgba(255, 255, 255, 0.7);
  @apply h-full py-[30px] px-[20px] rounded-[10px] border border-[#eb6024] backdrop-filter backdrop-blur-[50px];

  @screen md {
    @apply px-[92px];
  }

  @screen lg {
    @apply px-0;
  }
}

.home-hero-bar {
  background-color: rgba($color: #2fc0cc, $alpha: 0.2);
  filter: drop-shadow(8px 20px 40px #00000040);
  @apply hidden w-full h-[100px] py-8 lg:py-[55px] px-[64px] lg:px-[74px] rounded-[10px] backdrop-filter backdrop-blur-[15px] backdrop-brightness-[1.15];

  @screen lg {
    @apply block;
    margin-top: 64px;
  }

  @screen 2xl {
    @apply h-[127px];
  }
}

.home-hero-image-wrapper {
  @apply flex content-center items-start md:items-center absolute w-full h-full min-w-[486px] ml-[50%] transform -translate-x-1/2;
}

.home-hero-image-cutter {
  box-shadow: (10px 10px 20px #00000029);
  max-height: calc(100% - 25px);
  @apply w-full lg:w-1/2 lg:ml-auto lg:mr-[74px] rounded-[10px] overflow-hidden;

  @screen lg {
    max-height: 100%;
    box-shadow: (8px 20px 40px #00000040);
  }
}
