.skeleton-teeth-image {
  @media (min-width: 1024px) {
    transform: translate(20px, -105px);
  }
  @media (min-width: 1560px) {
    transform: translate(-40px, -110px) scale(1.2);
  }
}

.right-quote{
  transform: rotate(180deg);
}