.contact-hero-image {
  @media (min-width: 1024px) {
    transform: translateY(-15px) scale(1.2);
  }
   @media (min-width: 1280px) {
    transform: translateX(-78px) translateY(-14px) scale(1.37);
  }
  @media (min-width: 1536px) {
    transform: translateX(-37px) translateY(121px) scale(1.37);
  }
}

.contuct-us-shadow{
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
