@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.home-slider-main-container {
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-image: url("../../../images/home-slider-bg.svg");

  @media (min-width: 834px) {
    background-position-y: 60px;
    background-position-x: 20%;
    background-size: cover;
  }

  @media (min-width: 1024px) {
    // background-position-y: 100%;
    background-size: 134%;
  }

  @media (min-width: 1366px) {
    // background-position-y: 100%;
    background-size: 100%;
  }
}

.home-slide-shadow {
  box-shadow: rgba($color: #000000, $alpha: 0.16) 10px 10px 10px;
}

.home-slider-container {
  height: 450px;

  @media (min-width: 450px) {
    height: 380px;
  }

  @media (min-width: 550px) {
    height: 330px;
  }

  @media (min-width: 1080px) {
    height: 380px;
  }

  @media (min-width: 1280px) {
    height: 330px;
  }
}

.home-slider-right-arrow {
  position: absolute;
  right: 0px;
  bottom: 0px;
  cursor: pointer;
  z-index: 1;

  @media (min-width: 1024px) {
    transform: translateY(-50%);
    right: 83px;
    top: 42%;
  }

  @media (min-width: 1536px) {
    right: -79px;
  }
}

.slick-slider {
  position: relative;
}

.home-slider-left-arrow {
  position: absolute;
  left: 0px;
  bottom: 0px;
  cursor: pointer;
  z-index: 1;

  @media (min-width: 1024px) {
    transform: translateY(-50%);
    left: 83px;
    top: 42%;
  }

  @media (min-width: 1536px) {
    left: -79px;
  }
}

.home-slider-dots {
  width: 100%;
  display: flex !important;
  justify-content: center;
  flex-wrap: nowrap;

  li {
    &:not(:last-child) {
      margin-right: 8px;
    }

    .button-pagination {
      height: 7px;
      width: 7px;
      background-color: rgb(202, 202, 202);
      border-radius: 50%;
    }
  }

  li.slick-active {
    .button-pagination {
      background-color: #2fc0cc;
    }
  }
}

.slick-track {
  display: flex;
  align-items: flex-end;
}

.slider-arrows-shadow {
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.15));
}

.markdown_paragraph:not(:first-child) {
  margin-top: 20px;
}

.testimonials-font {
  font-size: 14px;
  line-height: 14px;

  @media (min-width: 1080px) {
    font-size: 16px;
    line-height: 16px;
  }
}
