.common-hero-main-container {
  @media (min-width: 1024px) {
    margin-bottom: -35px;
  }

  @media (min-width: 1280px) {
    margin-bottom: -60px;
  }
}

.bg-about-container {
  background-image: linear-gradient(180deg, #eb6024 90%, white 90%);

  @media (min-width: 1024px) {
    background-image: url("../../../images/pattern5.png"),
      linear-gradient(180deg, #eb6024 78%, white 78%);
    background-position: left center;
  }
}

.bg-procedures-container {
  background-image: linear-gradient(180deg, #5765ce 90%, transparent 90%);
  position: relative;
  z-index: 10;

  @media (min-width: 500px) {
    background-image: linear-gradient(180deg, #5765ce 88%, transparent 88%);
  }

  @media (min-width: 1024px) {
    background-image: url("../../../images/pattern5.png"),
      linear-gradient(180deg, #5765ce 78%, transparent 78%);
    background-position: left center;
  }
}

.bg-facilities-container {
  background-image: linear-gradient(180deg, #64555a 90%, white 90%);

  @media (min-width: 500px) {
    background-image: linear-gradient(180deg, #64555a 88%, white 88%);
  }

  @media (min-width: 1024px) {
    background-image: url("../../../images/pattern5.png"),
      linear-gradient(180deg, #64555a 78%, white 78%);
    background-position: left center;
  }
}

.bg-about {
  bottom: 0;

  @media (min-width: 1024px) {
    display: none;
  }
}
