.common-hero-main-container {
  @media (min-width: 1024px) {
    margin-bottom: -35px;
  }

  @media (min-width: 1280px) {
    margin-bottom: -60px;
  }
}

.bg-about-container {
  background-image: linear-gradient(180deg, #eb6024 90%, white 90%);

  @media (min-width: 830px) {
    background-image: linear-gradient(180deg, #eb6024 86%, white 86%);
  }

  @media (min-width: 1024px) {
    background-image: url("../../../images/pattern5.png"),
      linear-gradient(180deg, #eb6024 78%, white 78%);
    background-position: left center;
  }
}

.bg-about {
  bottom: 10px;
  @media (min-width: 500px) {
    bottom: -25px;
  }

  @media (min-width: 700px) {
    bottom: -35px;
  }

  @media (min-width: 1024px) {
    display: none;
    width: 125%;
    object-position: -20px -20px;
  }
}
