.contact-pattern-corner {
  position: absolute;
  right: 0px;
  top: 10px;
  transform: translateX(68%);
  height: 249px;
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.contact-pattern-map {
  position: absolute;
  bottom: 130px;
  transform: translateX(-2%);
  height: 245px;
  left: 3px;
  z-index: -1;
  display: none;
  @media (min-width: 1536px) {
    display: block;
  }
}
