@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.slide-shadow {
  box-shadow: rgba($color: #000000, $alpha: 0.16) 0 10px 10px;
}

.slick-slider {
  position: relative;
}

.slider-left-arrow {
  position: absolute;
  left: 30px;
  transform: translateY(calc(50%)) rotate(180deg);
  cursor: pointer;

  @media (max-width: 1023px) {
    bottom: -30px;
  }

  @media (min-width: 1024px) {
    top: 43%;
    left: 15%;
  }

  @media (min-width: 1200px) {
    left: 13%;
  }

  @media (min-width: 1920px) {
    left: 15%;
  }
}

.slider-right-arrow {
  position: absolute;
  right: 30px;
  transform: translateY(50%);
  cursor: pointer;

  @media (max-width: 1023px) {
    bottom: -30px;
  }

  @media (min-width: 1024px) {
    top: 43%;
    right: 15%;
  }

  @media (min-width: 1200px) {
    right: 13%;
  }

  @media (min-width: 1920px) {
    right: 15%;
  }
}

.slick-track {
  display: flex;
  align-items: flex-end;
}
