@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Neutra";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Neutra"),
    url("../fonts/neutra-display/neutra-display-titling.woff2") format("woff2"),
    url("../fonts/neutra-display/neutra-display-titling.woff") format("woff");
}

* {
  font-family: "proxima-nova";
}

h1,
h2,
p {
  color: #473c3f;
}

h3,
h4 {
  color: #2d2d2d;
}

body {
  font-size: 16px;
  line-height: 26px;
}

h1 {
  font-size: 34px;
  line-height: 36px;
  font-weight: 700;
  font-family: "Neutra", "Roboto", sans-serif;
}

h2 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 700;
  font-family: "Neutra", "Roboto", sans-serif;
}

h3 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 700;
}

h4 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

h6 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

p {
  font-size: 16px;
  line-height: 26px;
}

@media (min-width: 1080px) {
  body {
    font-size: 20px;
    line-height: 30px;
  }

  p {
    font-size: 20px;
    line-height: 30px;
  }
}

.global-x-spacing {
  padding-left: 24px;
  padding-right: 24px;
}

@media (max-width: 1023px) {
  .global-x-spacing.remove-mobile {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media (min-width: 830px) {
  .global-x-spacing {
    padding-left: 80px;
    padding-right: 80px;
  }

  h1 {
    font-size: 34px;
    line-height: 36px;
    font-weight: 700;
  }

  h2 {
    font-size: 28px;
    line-height: 34px;
    font-weight: 700;
  }

  h3 {
    font-size: 28px;
    line-height: 34px;
    font-weight: 700;
  }

  h4 {
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
  }

  h6 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
  }
}

@media (min-width: 1560px) {
  .global-x-spacing {
    padding-left: 140px;
    padding-right: 140px;
  }
}
.insetShadow {
  box-shadow: inset 0 0 10px #b9b5b5;
  -webkit-box-shadow: inset 0 0 10px #b9b5b5;
  -webkit-appearance: none;
  -moz-box-shadow: inset 0 0 10px #b9b5b5;
}

.home-page-background {
  background: none;
}

@media (min-width: 830px) {
  .home-page-background {
    background-image: url("./../images/homepage-md-bubles-bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 709px;
  }
}

@media (min-width: 1024px) {
  .home-page-background {
    background-image: url("./../images/homepage-lg-bubles-bg.png");
    background-position-y: -84px;
  }
}

@media (min-width: 1536px) {
  .home-page-background {
    background-image: url("./../images/homepage-2xl-bubles-bg.png");
    background-position-y: -83px;
  }
}
