$bar-color: #fce7de;
$bar-color-inverse: #e0f6f7;

.procedure-section-bar {
  background-color: $bar-color;
  height: 85px;
  padding: 12px 0px;
  display: flex;
  align-items: center;
  bottom: 0px;
  left: 0px;
  position: absolute;
  width: 100%;
  transform: translateY(40px);

  @media (min-width: 1024px) {
    transform: translateY(calc(100% + 35px));
    &::after {
      content: "";
      background-color: $bar-color;
      position: absolute;
      width: 100px;
      top: 0px;
      right: 0px;
      transform: translateX(100%);
      height: 100%;
    }

    &::before {
      content: "";
      background-color: $bar-color;
      position: absolute;
      width: 500px;
      top: 0px;
      left: 0px;
      transform: translateX(-100%);
      height: 100%;
    }
  }

  &.bar-inverse {
    background-color: $bar-color-inverse;
    &::after,
    &::before {
      background-color: $bar-color-inverse;
    }
  }
}
